.qr-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    max-width: 325px;
    padding: 1em;
    border-radius: 20px;
    background-color: hsl(0, 0, 100%);

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 2;
    }
    &__image {
        display: block;
        max-width: 100%;
        border-radius: 10px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0px 15px;
        text-align: center;
        font-size: 0.9375rem;
        &_main {
            color: hsl(218, 44%, 22%);
        }
        &_odd {
            color: hsl(220, 15%, 55%);
            margin-bottom: 20px;
        }
    }
}